/* Style de base */

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

body {
  margin: 0;
  background-color: #333333;
}

.textD-none {
  text-decoration: none;
  color: #f0f0f0;
}

.text-w {
  color: #f0f0f0;
}

.textD-none:hover {
  font-weight: bold;
}

.bold {
  font-weight: bold;
  font-style: italic;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Button css */

button.btn {
  border: none;
  color: #282828;
  background-color: #66bc74;
  height: 3em;
  width: 8em;
  border-radius: 5em;
  border: 2px solid#282828;
}

button:hover {
  background-color: #55a062;
}

button:active {
  background-color: #3c6d44;
}

/* Navbar style css */

.navbar {
  background-color: #282828;
  height: 7vh;
}

.navItem {
  font-size: 2em;
  display: inline-block;
  margin-left: 2em;
}

.logo {
  height: 5em;
  width: auto;
  float: left;
}

li + a:hover {
  font-weight: bold;
  color: white;
}

/* Google font CSS - Robot */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: #333333;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #333333;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 2px solid #333333;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}
