h1 {
  margin: 2em;
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

.container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(100, 100, 100);
}

input {
  margin-top: 1em;
  width: 20em;
  height: 2em;
  border-radius: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  font-size: 2em;
}

.btn {
  background-color: rgb(170, 206, 116);
}

.btn:hover {
  background-color: rgb(146, 177, 101);
}

.btn:active {
  background-color: rgb(122, 148, 84);
}

#checkboxLog {
  height: 0.6em;
}

.container-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  top: -1em;
  background-color: 2em, solid black;
}
